body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 10px;
  background-color: #E6F2E6;
  font-size: 1.5rem;
  color: #555;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.movie-item {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  /* Key change: Use flexbox for horizontal layout */
  flex-direction: row;
  align-items: flex-start;
  /* Align items to the top of the container */
}

.movie-image {
  width: auto;
  /* Set a fixed width for the image */
  height: 215px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
  /* Add some space between image and text */
  margin-top: 8px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* Allow the text content to expand */
}

.movie-item h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 8px 0;
  /* Reset left/right margins */
  display: flex;
  /* Use flexbox for title and button */
  align-items: center;
  /* Vertically align title and button */
}

.movie-item p {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  /* Reset left/right margins */
  line-height: 1.2;
}

.movie-item p .label {
  font-weight: 600;
  margin-top: 10px;
}

.movie-item p .value {
  color: #444;
}

.movie-info h3 .ticket-button {
  margin-left: 20px;
  padding: 10px;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 4px;
  background-color: #8FBC8F;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.movie-link {
  text-decoration: none;
  color: inherit;
  display: block;
}